 {% extends 'base.html' %}

 {% block head %}
 <title>
 Edit TODO
 </title>
 {% endblock %}

 {% block body %}
  <h1 class="display-4 text-center m-5">Edit TODO!</h1>

<form action="/edit/{{todo.id}}" method="POST" class="text-center mt-5">
  <div class="form-group">
    <label for="content">Modify your TODO</label>
    <input style="margin: 0 auto;" type="text" name="content" class="form-control w-50 text-center" id="content" value="{{todo.content}}" placeholder="Edit Todo">
    <small id="todoHelp" class="form-text text-muted">Edit TODO to make changes.</small>
  </div>
  <button type="submit" class="btn btn-dark">Update</button>
</form>

 {% endblock %}